/* Color Palette
light blue: #8ecae6
medium blue: #219ebc
dark blue: #023047
yellow: #ffb703
orange: #fb8500
*/

/* Root Variables
------------------------------------------------------ */
:root {
  --txt-color: #023047;
  --header-txt-color: #8ecae6;
  --main-bg-color: #8ecae6;
  --header-bg-color: #023047;
  --btn-color: #fb8500;
  --focus-color: #ffb703;
}

@font-face {
  font-family: 'ChunkFive';
  src: url('../fonts/ChunkFive-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Scroll Snapping
------------------------------------------------------ */
.scroll-container {
  scroll-snap-type: y mandatory;
}

.scroll-child {
  scroll-snap-align: start;
}

/* Main Styles
------------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--txt-color);
  background-color: var(--main-bg-color);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header,
.main-form {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

/* Header Styles
------------------------------------------------------ */
.form-header {
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background: center url(../img/home-splash.jpg) no-repeat;
  background-size: 100dvh;
}

.header-title {
  color: var(--header-txt-color);
  margin-top: 35vh;
  height: 110px;
}

.header-title {
  background-color: rgb(2, 48, 71, .85);
}

.header-title > h1 {
  font-size: 3.7rem;
  margin-top: 20px;
  font-family: "ChunkFive";
}

.header-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-notice {
  background-color: rgb(111, 111, 111, .6);
  width: 100%;
  height: 80px;
}

.photo-credit {
  border-radius: 3px;
}

.header-footer p {
  padding: 0 7px;
  border-radius: 3px;
  font-size: 12px;
}

.header-footer p,
.header-footer a {
  color: #fff;
}

/* SVG Styles
------------------------------------------------------ */
svg {
  height: 85px;
  width: 140px;
  position: relative;
}

svg rect {
  fill: var(--header-bg-color);
}

svg text {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  fill: var(--btn-color);
}

#animated-arrow {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation: bounce 3s linear infinite;
}

@keyframes bounce {
  0% {transform: translatey(210%);}
  50% {transform: translatey(260%);}
  100% {transform: translatey(210%);}
}

/* Form Styles
------------------------------------------------------ */
.main-form {
  color: var(--header-bg-color);
  padding-top: 20px;
}

.main-form .signup-form-header p {
  font-size: 12px;
}

.signup-form {
  width: 85dvw;
  padding: 30px 40px;
  padding-bottom: 10px;
  margin: 20px 0 40px 0;
  font-size: 18px;
}

.signup-form,
.signup-form-header {  
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 5px;
  box-shadow:
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(2 48 71 / 60%);
}
.signup-form-header {
  text-align: center;
  margin: 30px;
}

.form-row {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="password"] {
  background-color: #FFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 12px;
}

.form-row>label[for="password_confirm"] {
  margin-bottom: 0;
}

.main-form aside button {
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-color);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  box-shadow: 0.3em 0.3em 1em rgb(2 48 71 / 60%);
  cursor: pointer;
}

.main-form aside button,
.main-form aside div {
  margin-left: 40px;
}
.main-form a {
  color: var(--btn-color);
}

.main-form aside div {
  font-size: 16px;
  margin-bottom: 35px;
}

aside.signup-form-aside div p {
  font-weight: bolder;
}

aside.signup-form-aside div p a {
  text-decoration: none;
}

.form-row input[type="email"]::placeholder,
.form-row input[type="tel"]::placeholder {
  font-size: 14px;
}

input:focus {
  outline-color: var(--main-bg-color);
  box-shadow: 0.3em 0.3em 1em rgb(2 48 71 / 60%);
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid,
.form-row input[type="tel"]:invalid,
.form-row input[type="password"]:invalid {
  outline-color: var(--focus-color);
}

/* Global Animations
------------------------------------------------------ */
aside.signup-form-aside button {
  -webkit-animation: breathing 5s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
  animation-delay: 2s;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}  

/* Desktop Styles
------------------------------------------------------ */
@media only screen and (min-width:900px) {
  html,
  body {
    overflow-y: hidden;
  }

  body {
    flex-direction: row;
  }
  .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  header.form-header.scroll-child {
    width: 40%;
  }

  main.main-form.scroll-child {
    width: 60%;
    margin-bottom: 0;
    padding-top: 20%;    
  }

  aside.signup-form-aside div {
    margin-bottom: 0;
  }

  .signup-form,
  .signup-form-header {
    border: none;
    box-shadow: none;
  }

  .signup-form-header {
    margin: 0;
    text-align: left;
    padding: 20px 40px;
    box-shadow: 0px -4px 2px -2px #848484;
  }

  .signup-form {
    margin: 0;
    width: 100%;
    padding-right: 45%;    
    box-shadow: 0 4px 2px -2px #848484;
  }

  .scroll-notice {
    visibility: hidden;
  }
  
  .form-row {
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .form-row input[type="text"],
  .form-row input[type="tel"],
  .form-row input[type="email"],
  .form-row input[type="password"] {
    width: 250px;
    margin-top: 0;
  }

  form .form-row label {
    text-align: left;
    margin-bottom: 0;
  }

  form .form-row {
    width: 300px;
  }

  form.signup-form {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-auto-flow:dense;
    align-items:start;
  }

  form.signup-form>* {
    box-sizing: border-box;
  }

  aside.signup-form-aside {
    margin-top: 30px;
  }

  aside.signup-form-aside button {
    box-shadow: 0.3em 0.3em 1em rgb(2 48 71 / 60%);
    cursor: pointer;
  }

  .photo-credit {
    position: absolute;
    bottom: 3px;
  }

  /* Animations */
  header.form-header.scroll-child {
    transform-box: fill-box;
    animation: header-transform 1s linear;
    animation-iteration-count: 1;
  }
  div.form-wrapper {
    transform-box: fill-box;
    animation: form-transform 1.5s linear;
    animation-iteration-count: 1;
  }
  aside.signup-form-aside {
    transform-box: fill-box;
    transform-origin: 300%;
    animation: aside-transform 1.5s linear;
    animation-iteration-count: 1;
  }

  @keyframes header-transform {
    0% {transform: translatex(-100%);}
    100% {transform: translatex(0%);}
  }
  @keyframes form-transform {
    0% {transform: translatey(-300%);}
    100% {transform: translatey(0%);}
  }
  @keyframes aside-transform {
    0% {transform: translatey(300%);}
    100% {transform: translatey(0%);}
  }
}